

<html>
        <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>程式夏令營網站</title>
        </head>
        <body>
        <div align=center><font face="Curlz MT" size=20 color="003377">Hello World!</font><font face="微軟正黑體" size=10 color="003377">網站</font></div>
		<hr size="5" align="center" noshade width="90%" color="00AAAA">
		<div align=center>
      <a href="http://www.nutc.edu.tw/bin/home.php" target="_blank">          
          <a href="/static/maze/index.html"><font face="微軟正黑體" size=6 color="003377">迷宮遊戲</font></a>
        
          <a href="/static/pong/index.html"><font face="微軟正黑體" size=6 color="003377">乒乓遊戲</font></a>
        
      </a>
    </div >
          <div align=center>
          <img src=/static/mazep.png width="500">
	        <img src=/static/pongp.png width="500">
          </div>
        </body>
</html>
